@import "str-to-list";

.custom-category-boxes .category-box .category-details .description p {
  display: none;
}

$list: str-to-list("#{$box_descriptions}", "|");
$nested-list: ();
@each $item in $list {
  $item: str-to-list("#{$item}", ";");
  $nested-list: append($nested-list, $item);
}
@each $id, $description in $nested-list {
  .custom-category-boxes .category-box[data-category-id="#{$id}"] {
    .category-details .description:after {
      content: $description;
    }
  }
}